body{
     background-color: #24292E;
}
 main{
     padding: 10%;
}
 header{
     width: 100%;
     height: 20px;
     background-color: #1B1D23;
     position: fixed;
}
 header span{
     color: white;
     margin: 5%;
}
 main kbd{
     padding: 2%;
}
 main{
     background-color: #24292E;
     color: hotpink;
}
/* kbd */
 @media (min-width : 600px) {
     main kbd{
         padding: 5px;
        ;
    }
}
a{
     color: #55FF84;
}
 a:hover{
     color: cyan;
}
