 body{
         background-color: black;
      }
      main{
         padding: 4%;
      }
   
      .border{
         margin: 30px;
         border: 10px solid yellowgreen;
      }
      main kbd{
         padding: 2%;
      }

      main{
         background-color:black;
         color: yellowgreen;

      }

      /* kbd */
      @media (min-width : 600px) {
         main kbd{
            padding: 5px;;
         }
      }
a{color: yellow;text-decoration: underline;} a:hover{ color: yellowgreen}